.left {
  width: fit-content;
  display: inline-block;
}
.stage {
  display: inline-block;
  display: flex;
  width: 50%;
  flex-direction: row;
  flex-wrap: wrap;
}
.app {
  display: flex;
  flex-direction: row;
}

.sidebar, .sidebar:target ~ #chat {
  display: none;
}

#chat, .sidebar:target {
  display: block;
}

.navLink {
  text-decoration: none;
  color: grey;
  padding: .5rem;
}
.navLink:hover {
  color: #555;
}

.nav {
  text-align: center;
  background-color: #eee;
  padding: .5rem;
}
