.participant-list {
  background-color: lightblue;
  width: fit-content;
  display: inline-block;
}
.stage {
  display: inline-block;
  display: flex;
  width: 50%;
  flex-direction: row;
  flex-wrap: wrap;
  background-color: lightgrey;
}
.app {
  display: flex;
  flex-direction: row;
}

.sidebar, .sidebar:target ~ #chat {
  display: none;
}

#chat, .sidebar:target {
  display: block;
}

.navLink {
  text-decoration: none;
  color: blue;
  padding: .5rem;
}
.navLink:hover {
  color: lightblue;
}
