.avatar {
  height: 30px;
  width: auto;
  border-radius: 50%;
}

.info {
  display: inline-block;
  position: relative;
}

.status {
  padding-left: 20px;
}

.status::before {
  width: 10px;
  height: 10px;
  border-radius: 50%;
  content: " ";
  position: absolute;
  top: 25px;
  left: 5px;
}

.online::before {
  background-color: green;

}

.offline::before {
  background-color: grey;
}
