.avatar {
  height: 20px;
  border-radius: 50%;
}

.info {
  display: inline-block;
  position: relative;
}

.status {
  padding-left: 2rem;
}

.online::before {
  background-color: green;
  width: 10px;
  height: 10px;
  border-radius: 50%;
  content: " ";
  position: absolute;
  top: 10px;
  left: 0px;
}

.offline::before {
  background-color: grey;
  width: 10px;
  height: 10px;
  border-radius: 50%;
  content: " ";
  position: absolute;
  top: 10px;
  left: 0px;
}
